html {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #eee;
	font-family: Arial, sans-serif;
}

body {
	color: #222;
}

strong {
	line-height: 3;
}

pre {
	background: #eee;
	padding: 4px;
}

img { 
	border: 0; 
}

a {
	background-color: inherit; 
}

#path {
	font-size: 1.8em;
	font-weight: bold;
	text-align: left;
	max-width: 1200px;
	margin: 5px auto 0px auto;
	width: 95%;

}

#path a {
	text-decoration: none;
	color: #000;
}

#container {
	background-color: #eee;
	border: 0px;
	margin: 5px auto 1em auto;
	padding: 0px;
	color: inherit;
	min-width: 600px;
	max-width: 1100px;
	width: 95%
}

#main {
	margin: 0;
	padding: 0;
	background-color: #eee;
	/* stretch up main div to accomodate the floats */
	overflow: auto;
	width: 100%;
}

#menu {
	display: inline;
	float: left;
	width: 162px;
	color: inherit;
	text-align: left;
	margin: 30px 0px 0px 0px;
    font-size: 1.1em;
}
	#menu ul {
		margin: 0;
		padding: 0;
	}
	#menu li {
		padding: .1em .5em .1em .2em;
		list-style: none;
		border-left: 3px solid #ccc;
	}
	#menu a {
		text-decoration: none;
		color: #000;
	}

		#menu li.dir {
			/*font-weight: bold;*/
		}
		#menu li.current {
			color: #070;
			background-color: #fff;
			border-width: 0px 1px 1px 1px;
			border: 1px solid #ccc;
			border-left: 3px solid #ccc;
			border-right: 1px solid #fff;
		}

#content {
	padding: 15px 30px 25px 30px;
	margin: 10px 140px 10px 160px;
	background-color: #fff;
	color: #555;
	border: 1px solid #ccc;
	font-size: 1em;
	text-align: justify;
	min-height: 100px; /* Use these following three entries to */
	height: auto !important; /* change the min-height of the div */
	height: 100px; /* so that 'current' doesn't get awkward */
}
	#content p {
		margin: .5em 0;
	}
	#content h1 {
		margin: 0;
		background-color: inherit;
		text-align: left;
		font-size: 1.8em;
		font-weight: bold;
		color: #000;
	}
	#content h2 {
		font-weight: normal;
		font-size: 1.4em;
        	border-bottom: 1px #ccc solid;
		color: #000;
	}
	#content h3 {
		font-weight: normal;
		font-size: 1.2em;
		color: #000;
	}
	#content hr {
		color: #ddd;
		background-color: #ddd;
		height: 1px;
		width: 25%;
	}

#footer {
	clear: both;
	padding: 10px 10px 10px 10px;
	margin-bottom: 0px;
	font-size: 0.7em;
	background-color: #eee;
	color: #aaa;
	text-align: center;
}
	#footer a {
		color: #aaa;
		text-decoration: underline;
	}
